USE [master]
GO
/****** Object:  Database [AssessmentDB]    Script Date: 05-03-2021 16:05:38 ******/
CREATE DATABASE [AssessmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssessmentDB', FILENAME = N'D:\Code\AllDB\AssessmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssessmentDB_log', FILENAME = N'D:\Code\AllDB\AssessmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssessmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssessmentDB]
GO
USE [AssessmentDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05-03-2021 16:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 05-03-2021 16:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[batchID] [uniqueidentifier] NOT NULL,
	[businessUnit] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[batchPublishDate] [datetime2](7) NOT NULL,
	[requiredDate] [datetime2](7) NOT NULL,
	[fileName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_batches] PRIMARY KEY CLUSTERED 
(
	[batchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[batches] ADD  CONSTRAINT [DF_batches_batchID]  DEFAULT (newid()) FOR [batchID]
GO
USE [master]
GO
